---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('September 02 2024')}
	heroImage="/profile_pic2.jpg"
>

	<p>
		Hi, I'm ShinMcCold, a back-end software developer. I love coding, recently go interested in AI so trying so thing's out.
		Beyond coding, I'm passionate about content-creation, animation and traveling.
	</p>

	<p>
		While I have some preferred tools, I always choose the best one for the job, even if it's not on my usual list. My goal is to find the right solution for each project.
	</p>

	<br>
	Feel free to connect with me through the following channels:
	<ul>
		<li>Email: <a href="mailto:shinmccold@yahoo.com">shinmccold@yahoo.com</a></li>
		<li>Twitter : <a href="https://x.com/shinmccold1">@shinmccold1</a></li>
		<li>Youtube :  <a href="https://www.youtube.com/@shinmccold">@shinmccold</a></li>
	</ul>	

</Layout>
