---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import TypingComponent from '../components/TypingComponent';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<TypingComponent client:load/>
			
			<p>
				Welcome to my blog.
				I enjoy the process of building something using any technology stack, and I'm thrilled to share my journey with you here. You can checkout my projects or blog post where I share insights, tutorials, and experiences from my tech journey and don’t hesitate to reach out to me on Twitter or via email if you’d like to connect.
			</p>			  
			  
		</main>
		<Footer />
	</body>
</html>
